{% extends 'base-header.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Company</h4>
                            <div id="alert">
            
                            </div>
                    </header>
                        <article class="card-body">
                            <table class="table table-hover" id="table_company">
                                <thead>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone Number</th>
                                    <th>Remove From Favourite</th>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </div> <!-- col.//-->

        </div> <!-- row.//--></div>
                    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var init = $(function() {
            console.log(users);

            getCompany();
        });

        var getCompany = function() {
            var settings = {
                "url": url+"/favouritecompanies/"+users.userId+"/find",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer "+users.token
                },
            };
            
            $.ajax(settings).done(function (response) {
                console.log(response);
                var rows = "";

                $.each(response.data.data, function(i, data) {
                    rows += '<tr>';
                    rows += '<td>';
                    rows += data.name;
                    rows += '</td>';
                    rows += '<td>';
                    rows += data.address;
                    rows += '</td>';
                    rows += '<td>';
                    rows += data.phone_number;
                    rows += '</td>';
                    rows += '<td>';
                    rows += '<button class="remove_from_favourite" data-fav-company-id='+data.id+' type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Star</button>';
                    rows += '</td>';
                    rows += '</tr>';
                });

                $('#table_company tbody').html(rows);

                $('.remove_from_favourite').click(function (e) { 
                    e.preventDefault();
                    var id = $(this).attr('data-fav-company-id');
                    removeFavouriteCompany(id);
                    $(this).closest("tr").remove();
                });

            }).fail(function (data, status, xhr) {
                var rows = "";
                rows += '<tr>';
                rows += '<td colspan=4>';
                rows += data.statusText;
                rows += '</td>';
                rows += '</tr>';
                $('#table_company tbody').html(rows);
            });;
        }

        var removeFavouriteCompany = function(id) {
            var settings = {
                "url": url+"/favouritecompanies/"+id+"/unfavourite",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer "+users.token
                },
            };
            
            $.ajax(settings).done(function (response) {
                var html = '<div class="alert alert-success" role="alert"><p>'+response.message+'</p></div>';
                $('#alert').html(html);
            }).fail(function (data, status, xhr) {
                var obj = JSON.parse(data.responseText);
                var html = '<div class="alert alert-danger" role="alert"><p>'+obj.message+'</p></div>';
                $('#alert').html(html);
            });
        }
    
    </script>

{% endblock %}
