{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Login</h4>
                            <div id="alert">
            
                            </div>
                    </header>
                        <article class="card-body">
                            <form class="row g-3" id="register">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" placeholder="Johndoe">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="password">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </article> <!-- card-body end .// -->
                        <div class="border-top card-body text-center">Don't have an account? <a href="{{ path('user_register') }}">Register</a></div>
                </div> <!-- card.// -->
            </div> <!-- col.//-->

        </div> <!-- row.//--></div>
                    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var init = $(function() {
            $('#register').submit(function (e) { 
                e.preventDefault();
                    var form = new FormData();
                    var username = $('#username').val();
                    var password = $('#password').val();
                    form.append("username", username);
                    form.append("password", password);
                    sendPostLoginData(form);

            });
        });

        var sendPostLoginData = function(form) {
            var settings = {
                "url": url+"/users/login",
                "method": "POST",
                "timeout": 0,
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response) {
                var obj = JSON.parse(response);
                var obj = {
                    userId: obj.data.userId,
                    username: obj.data.username,
                    email: obj.data.email,
                    token: obj.data.token
                };
                
                localStorage.setItem('userStorage', JSON.stringify(obj));

                window.location.href = 'http://local.leadbook.devel:8081/company';
            }).fail(function (data, status, xhr) {
                var obj = JSON.parse(data.responseText);
                var html = '<div class="alert alert-danger" role="alert"><p>'+obj.message+'</p></div>';
                $('#alert').html(html);
            });
        } 
    </script>

{% endblock %}
