{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="alert">
            
        </div>
        <form class="row g-3" id="register">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Johndoe">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" placeholder="email">
            </div>
            <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone_number" placeholder="+62234234324">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var init = $(function() {
            $('#register').submit(function (e) { 
                e.preventDefault();
                    var form = new FormData();
                    var username = $('#username').val();
                    var password = $('#password').val();
                    var phone_number = $('#phone_number').val();
                    var email = $('#email').val();
                    form.append("username", username);
                    form.append("password", password);
                    form.append("phone_number", phone_number);
                    form.append("email", email); 

                    sendPostRegisterData(form);

            });
        });

        var sendPostRegisterData = function(form) {
            var settings = {
            "url": "http://local.leadbook.devel:8081/api/users/register",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Authorization": "Bearer 4AKuvFnsApPqybYSKOvcej8Q/g=="
            },
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
            };

            $.ajax(settings).done(function (response) {
                var obj = JSON.parse(response);
                var html = '<div class="alert alert-success" role="alert"><p>'+obj.message+'</p></div>';
                $('#alert').html(html);
            }).fail(function (data, status, xhr) {
                var obj = JSON.parse(data.responseText);
                var html = '<div class="alert alert-danger" role="alert"><p>'+obj.message+'</p></div>';
                $('#alert').html(html);
            });
        } 
    </script>

{% endblock %}
