{% extends 'base-header.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">Reset Password</h4>
                            <div id="alert">
            
                            </div>
                    </header>
                        <article class="card-body">
                            <form class="row g-3" id="reset">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Old Password</label>
                                    <input type="password" class="form-control" id="old_password" placeholder="password">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="new_password" placeholder="password">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Reset</button>
                                </div>
                            </form>
                        </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </div> <!-- col.//-->

        </div> <!-- row.//--></div>
                    
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var init = $(function() {
            $('#reset').submit(function (e) { 
                e.preventDefault();
                    var form = new FormData();
                    var oldPassword = $('#old_password').val();
                    var newPassword = $('#new_password').val();
                    form.append("old_password", oldPassword);
                    form.append("new_password", newPassword);
                    resetPassword(form);

            });
        });

        var resetPassword = function(form) {
            var settings = {
                "url": url+"/users/"+users.userId+"/password/reset",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer "+users.token
                },
                "processData": false,
                "mimeType": "multipart/form-data",
                "contentType": false,
                "data": form
            };

            $.ajax(settings).done(function (response) {
                var obj = JSON.parse(response);
                var html = '<div class="alert alert-success" role="alert"><p>'+obj.message+'</p></div>';
                $('#alert').html(html);
            }).fail(function (data, status, xhr) {
                var obj = JSON.parse(data.responseText);
                var html = '<div class="alert alert-danger" role="alert"><p>'+obj.message+'</p></div>';
                $('#alert').html(html);
            });
        } 
    </script>

{% endblock %}
